<%- include('partials/header') -%>
<style>
#register
	{
	
	
	}
	label,h3
	{
		color:white;
		
	}
  h3,input,button
	{
		 box-shadow: 5px 5px 2px rgba(0,0,0,0.3);
	}

     .mess
		{
			color: #fff;
			
		}
	.success
		{
			color: #fff;
		}
	.flush
	{
		box-shadow: 5px 5px 2px rgba(0,0,0,0.3);
	}

</style>

<div class="container">

	<div class="d-none d-sm-none d-md-block" ><p>&nbsp;</p></div>
       <%if(success && success.length>0 || error && error.length>0){%>
		<div class="d-none d-sm-none d-md-none" >&nbsp;</div>
	<%}else{%>
	   <div class="d-block d-sm-block d-md-none" >&nbsp;</div>
	<%}%>
  	<% if(success && success.length>0){ %>
       <div class="">
	    <div class="row ">
		 <div class="col-12 col-sm-12 col-md-3"></div>
		    <div class="col-12 col-sm-12 col-md-6 flush">
				<p class="text-center" style="color:#fff"><strong>Warning!</strong><%= success %></p>
			</div>
		 <div class="col-12 col-sm-12 col-md-3"></div>
		</div>
	</div>
	<%}%> 
	<% if(error && error.length>0){ %>
	<div class="flush">
	    <div class="row">
		 <div class="col-12 col-sm-12 col-md-3"></div>
		    <div class="col-12 col-sm-12 col-md-6 mt-5">
				<p class="text-center" style="color:#fff"><strong>Warning!</strong> <%= error %></p>
			</div>
		 <div class="col-12 col-sm-12 col-md-3"></div>
		</div>
	</div>
	<%}%>
		
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-12"></div>
		<div class="col-lg-6 col-md-6 col-sm-12 mt-md-5 mt-lg-5 " id="register">
  
  <form  onsubmit=" return validation()"  action="/cloths/checkout " method="post" >
	  <h3 class="text-center p-2">Shipping</h3>
	  
	  <div class="form-group">
      <label for="add"> Shipping Address </label>
      <input type="text" class="form-control"   required  autocomplete="off"   id="add" onkeyup="return addvalidation()" placeholder="Address" name="shippingAddress">
	  <span class="mess"></span>
      </div>
	  
	<div class="form-group">
      <label for="uname">City/Town</label>
      <input type="text" class="form-control" required  autocomplete="off" onkeyup=" return cityvalidation()" id="city" placeholder=" varansi" name="shippingCity" >
	  <span class="mess" ></span>
    </div>
	  
   
	<div class="form-group">
      <label for="phone">Postal code</label>
      <input type="number" class="form-control"  required   autocomplete="off"   id="pincode" onkeyup="return pinvalidation()" placeholder="231068" name="pinCode">
	  <span class="mess"></span>
    </div>
	  
	  <div class="form-group">
      <label for="country">country</label>
      <input type="text" class="form-control"  required   autocomplete="off"   id="country" onkeyup="return countryvalidation()" placeholder="India" name="country">
	  <span class="mess"></span>
    </div>
	  
    <button type="submit" class="btn btn-primary btn-block">continue</button>
   </form>
			
   </div>
<div class="col-lg-3 col-md-3 col-sm-12"></div>
</div>
</div>
</body>
	<script type="text/javascript" >
	
	


var add=document.querySelector("#add");
var city=document.querySelector("#city");
var pincode=document.querySelector("#pincode");
var country=document.querySelector("#country");
var mess=document.querySelectorAll(".mess");

function validation()
{ 

	return addvalidation();
}


       // address validation
		function addvalidation()
		{
			if(add.value.length===0)
				{
					mess[0].textContent="Please fill this field";
					mess[0].classList.remove("success");
					mess[0].classList.add("mess");
					return false;
				}
			if(add.value.length>=4)
				{
					mess[0].textContent="Address is valid";
					mess[0].classList.remove("mess");
					mess[0].classList.add("success");
					 return  cityvalidation();
				}
			if(add.value.length<4)
				{
					mess[0].textContent="Please enter a valid address";
					mess[0].classList.remove("mess");
					mess[0].classList.add("success");
					return false;
				}
				
		}
		
		function cityvalidation()
		{
			if(city.value.length===0)
				{
					mess[1].textContent="Please fill this field";
					mess[1].classList.remove("success");
					mess[1].classList.add("mess");
					return false;
				}
			if(city.value.length>=4)
				{
					mess[1].textContent="city name is valid";
					mess[1].classList.remove("mess");
					mess[1].classList.add("success");
					 return pinvalidation();
				}
			if(city.value.length<4)
				{
					mess[1].textContent="Please enter a valid city name";
					mess[1].classList.remove("mess");
					mess[1].classList.add("success");
					return false;
				}
				
		}
		
		function pinvalidation()
		{
			if(pincode.value.length===0)
				{
					mess[2].textContent="Please fill this field";
					mess[2].classList.remove("success");
					mess[2].classList.add("mess");
					return false;
				}
			if(pincode.value.length===6)
				{
					mess[2].textContent="Postal code is valid";
					mess[2].classList.remove("mess");
					mess[2].classList.add("success");
					return  countryvalidation();
				}
			if(pincode.value.length<6)
				{
					mess[2].textContent="Please enter valid Postal code ";
					mess[2].classList.remove("mess");
					mess[2].classList.add("success");
					return false;
				}
			if(pincode.value.length>6)
				{
					mess[2].textContent="Postal code can't be greater than 6 digits ";
					mess[2].classList.remove("mess");
					mess[2].classList.add("success");
					return false;
				}
				
		}
		
		function countryvalidation()
		{
			if(country.value.length===0)
				{
					mess[3].textContent="Please fill this field";
					mess[3].classList.remove("success");
					mess[3].classList.add("mess");
					return false;
				}
			
			if(country.value.length<=3)
				{
					mess[3].textContent="Please enter valid country name ";
					mess[3].classList.remove("mess");
					mess[3].classList.add("success");
					return false;
				}
			if(country.value.length>=4)
				{
					mess[3].textContent="  country name is  valid ";
					mess[3].classList.remove("mess");
					mess[3].classList.add("success");
					
				}
				
		}
	

	</script>





<%- include('partials/footer') -%>